*{margin:0;
  padding: 0;
  box-sizing: border-box;}


.row {display: flex;
      height: 500px;
      margin:50px auto;
      width: 80%;
      color: white;
      background-color: black;
      box-shadow: 10px 10px 15px rgba(128, 128, 128);
      position: relative; }

.container-image{height: 100%;
                 width: 80%;
                 }

.container-image>img {height: 100%;
                      width: 100%;
                      position: absolute;
                      top:0;
                      left:0;
                      opacity: 0;
                      transition: opacity 0.3s;

                      }

.container-image> img.attiva{opacity: 1;}
                       

.aside{ color: black;
        height: 100%;
        width: 20%;
        display: flex;
        flex-direction: column;
        position: relative;
        border:1px solid grey}


.anteprima {height: calc(100% / 5);
            opacity: 0.5; 
             }

.freccia { width: 30px;
           height: 30px;
           background-color: grey;
           position: absolute;
           left:50%;
           transform: translateX(-50%);
           border-radius: 50%;
           text-align: center;
           font-size: 25px;
           line-height: 30px;
           z-index: 100;}

.anteprima img {width: 100%;
                height: 100%;
                }

.attiva{ opacity: 1;
         
          }

.freccia-su {top:10px;}

.freccia-giu{bottom:10px;}

.container-image{position: relative;}

.box-info {min-height: 100px;
           min-width: 200px;
           position: absolute;
           bottom: 15px;
           right: 15px;
           text-align: end;
           opacity: 0; 
           z-index: 99;
           }

.container-image>.box-info.attiva{opacity: 1;}

.box-info>.title{ font-size: 30px;
                 font-weight: bold;}


.box-info>.text{ font-size: 20px;
                 }