<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>carosello</title>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">

    

</head>


<body>

    <main>

        <div id="container">

            <div class="row">
                
                <div class="container-image" 

                           
                v-for="immagine, i in listaImmagini">
                    <img :class="i===immagineCorrente ? 'attiva' : ' '"
                    :src="immagine.url" :alt="'Img'+ (i+1)">

                    <div class="box-info ":class="i===immagineCorrente ? 'attiva' : ' '">
                        <div class="title">
                            {{immagine.title}}
                        </div>
                        <div class="text">
                            {{immagine.text}}
                        </div>
                    </div>
                </div>
                <div class="aside">

                    <div class="freccia freccia-su"><i class="fas fa-angle-up"></i></div>
                    <div class="anteprima " v-for="immagine, i in listaImmagini">
                        <img :class="i===immagineCorrente ? 'attiva' : ' '"
                        :src="immagine.url" :alt="'Img'+ (i+1)">
                    </div>
                    <div class="freccia freccia-giu"><i class="fas fa-angle-down"></i></div>

                </div>
            </div>


        </div>


    </main>

    <script src="js/script.js"></script>

</body>

</html>